@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#header {
  margin: 0 auto 0 auto;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  border-bottom: 2px solid #ea2;
}

#header nav {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 0;
}

#header nav > a {
  font-size: 24px;
  margin: 8px 0 8px 0;
  vertical-align: middle;
}

#header nav a img {
  vertical-align: middle;
}

#header nav div {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
}

#header nav span {
  flex-direction: row;
  margin-right: auto;
}

#header nav div ul {
  display: flex;
  align-items: center;
}

#header nav div ul li {
  padding: 8px;
  list-style-type: none;
}

#header nav div ul li a {
  color: #888;
}

#header nav div ul li a:hover {
  color: #444;
}

#wrapper {
  background-color: gray;
  width: 1000px;
  margin: 0 auto;
}

